# To generate requirements.txt
# python3 -m piptools compile --output-file requirements.txt requirements.in
# pip install  flask flask-login flask-migrate flask-sqlalchemy flask-wtf pip-tools python-dotenv
# python>=3.9.7
Flask>=2.1.2
Flask-Login>=0.6.1
Flask-Migrate>=3.1.0
Flask-SQLAlchemy>=2.5.1
Flask-WTF>=1.0.1
pip-tools>=6.7.0
python-dotenv>=0.20.0
