{% extends "template.html.jinja" %}

{% block title %}Cart{% endblock %}

{% block content %}
    {% if total %}
        <div class="order-item" id="0" food="total-header">
                <span class="order-item-name"> </span>
                <span class="order-item-image"> </span>
                <span class="order-item-name"> </span>
                <span class="order-item-amount"><b>Dishes ordered</b></span>
                <br>
                <span class="order-item-price"><b>Orders Total</b></span>
            </div>
            <div class="order-sep"></div>
            <div class="order-item" id="0" food="total">
                <span class="order-item-name"> </span>
                <span class="order-item-image"> </span>
                <span class="order-item-name"> </span>
                <span class="order-item-amount">{{ total.amount }}</span>
                <br>
                <span class="order-item-price">${{ total.price }}</span>
            </div>
            <div class="order-sep"></div>
            <p>
    {% else %}
        
    {% endif %}    
    {% if cart %}
        <div class="order-item" id="0" food="item-header">
                <span class="order-item-name">Line</span>
                <span class="order-item-image"></span>
                <span class="order-item-name">Menu Item</span>
                <span class="order-item-amount">Amount</span>
                <br>
                <span class="order-item-price">Price</span>
            </div>
            <div class="order-sep"></div>
        {% for item in cart %}
            <div class="order-item" id="{{ item.id }}" food="{{ item.foodID }}">
                <span class="order-item-name">{{ item.line_no }}</span>
                <img class="order-item-image" src="{{ item.default_image }}" alt="default image">
                <span class="order-item-name">{{ item.name }}</span>
                <span class="order-item-amount">{{ item.amount }}</span>
                <br>
                <span class="order-item-price">${{ item.price }}</span>
            </div>
            <div class="order-sep"></div>
        {% endfor %}
    {% else %}
        <h1>Oops!</h1>
        <p>
            This page hasn't loaded properly. Please refresh.
        </p>
        <span class="subtxt">
            If this problem persists, please contact the site administrator.
        </span>
    {% endif %}
    <p>
    <div>
        <span>Ready to order? Continue to <form action="" method="post">
        {{ form.hidden_tag() }} {{ form.submit() }}</span>
    </div>
    <p>
    <div>
        <span>Add more items! Back to the <a href="{{ url_for('menu') }}"">Menu</a></span>
    </div>
{% endblock %}