{% extends "template.html.jinja" %}

{% block title %}Cart{% endblock %}

{% block content %}
    {% if total %}
        {% include '_total.html.jinja' %}
    {% else %}
        
    {% endif %}    
    {% if cart %}
        {% include '_cart_list.html.jinja'%}
    {% else %}
        <h1>Oops!</h1>
        <p>
            This page hasn't loaded properly. Please refresh.
        </p>
        <span class="subtxt">
            If this problem persists, please contact the site administrator.
        </span>
    {% endif %}
    <p>
    <div>
        <span>Ready to order? Continue to <form action="" method="post">
        {{ form.hidden_tag() }} {{ form.submit() }}</span>
    </div>
    <p>
    <div>
        <span>Add more items! Back to the <a href="{{ url_for('menu') }}"">Menu</a></span>
    </div>
{% endblock %}