{% extends "template.html.jinja" %}

{% block title %}Checkout{% endblock %}

{% block content %}
Placeholder page...

Will show receipt with details, subtotal(s), taxes and fees applied, and grand total of orders for current session.
{% endblock %}