{% extends "template.html.jinja" %}

{% block title %}{{ user.username }}'s Page{% endblock %}

{% block content %}
    <h1>Welcome {{ user.username }}!</h1>
        <p>{% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        <p>{% if user.about_me %}<p>{{ user.about_me }}</p>
        {% else %}<p>...hasn't told us anything about themselves. 
            {% if user == current_user %}
                <p>Add or edit your about me by <a href="{{ url_for('edit_profile') }}">Editing your Profile</a></p>
            {% endif %}
        {% endif %}
    <p></p>
        
    {% if orders %}
        {% include '_order.html.jinja' %}
    {% else %}
        <p>Oh, noes! You don't have any orders! </p>
        <p>Go to our wonderful <a href="{{ url_for('menu') }}">Menu</a> and get something to eat! </p>
    {% endif %}
{% endblock %}